::-webkit-scrollbar{
    width: 0;
}
.projectpage{

    width: 100%;
    height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
    .major{
        padding-top: 3.5rem;
        font-family: sans-serif;
        display: flex;
        justify-content: center;
        span{
            border-bottom:4px solid orange ;
            font-size: 32px;
        }
        

    }
}