.skillcss-card{
    width: 90%;
    height: 180px;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    .skillcss-card-div{
        width: 20%;
        margin-left: 2rem;
    }
    .skillcss-card-box{
        padding-left: 1rem;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .skillcss-card-head{
            .skillcss-card-head-inside{
              color:orange;
              font-size: 24px;
              font-family: 'Courier New', Courier, monospace;
              border-bottom: 2px solid white;
            }
        }
        .skillcss-card-box-graph{
            width: 100%;
            .skillcss-card-graph-inside{
                color:#2DA8D8FF;
                font-size: 24px;
            }
            .skillcss-card-bar{
                margin-top: 10px;
                width: 60%;
                height:20px;
                background-color: #FCF6F5FF;
                overflow: hidden;
                border-radius:20px;
                display: flex;
                justify-content: flex-start;
                .skillcss-card-bar-inside{
                    display: flex;
                    justify-content: center;
                    animation: strength-scss 10s 1s forwards 3 ease-in-out;
                     height: 100%;
                     background-color: #2BAE66FF;
                     border-radius:20px;
                }
            }
            .skillcss-card-bar-project{
                margin-top: 20px;
                width: 60%;
                height:20px;
                background-color: #FCF6F5FF;
                overflow: hidden;
                border-radius:20px;
                display: flex;
                justify-content: flex-start;
                .skillcss-card-bar-project-inside{
                    display: flex;
                    justify-content: center;
                    animation: project-scss 10s 1s forwards 3 ease-in-out;
                     height: 100%;
                     background: rgb(97,190,117);
                     background: linear-gradient(90deg, rgba(97,190,117,1) 0%, rgba(16,138,77,1) 74%, rgba(0,112,13,1) 100%);
                     border-radius:20px;
                }
            }
        }
   
    }
}

@keyframes strength-scss{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes project-scss{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}