.skill-card{
    height: 180px;
    width: 90%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
    .skill-card-div{
        width: 30%;
        
    }
    .skill-card-box{
        padding-left: 1rem;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        .skill-card-head{
            .skill-card-head-inside{
              color:#2DA8D8FF;
              font-size: 24px;
              font-family: 'Courier New', Courier, monospace;
              border-bottom: 2px solid white;
            }
        }
        .skill-card-box-graph{
            width: 100%;
            .skill-card-graph-inside{
                color:#2DA8D8FF;
                font-size: 24px;
            }
            .skill-card-bar{
                margin-top: 10px;
                width: 60%;
                height:20px;
                background-color: #FCF6F5FF;
                overflow: hidden;
                border-radius:20px;
                display: flex;
                justify-content: flex-start;
                .skill-card-bar-inside{
                    display: flex;
                    justify-content: center;
                     animation: strength-react 10s 1s forwards infinite ease-out;
                     height: 100%;
                     background-color: #2BAE66FF;
                     border-radius:20px;
                }

            }
            .skill-card-bar-project{
                margin-top: 20px;
                width: 60%;
                height:20px;
                background-color: #FCF6F5FF;
                overflow: hidden;
                border-radius:20px;
                display: flex;
                justify-content: flex-start;
                .skill-card-bar-project-inside{
                    display: flex;
                    justify-content: center;
                     animation: project-react 10s 1s forwards infinite ease-out;
                     height: 100%;
                     background: rgb(97,190,117);
                     background: linear-gradient(90deg, rgba(97,190,117,1) 0%, rgba(16,138,77,1) 74%, rgba(0,112,13,1) 100%);
                     border-radius:20px;
                }
            }
        }
   
    }
   
}
@keyframes strength-react{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes project-react{
    0%{
        width: 0%;
    }
    100%{
        width: 55%;
    }
}